In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')
training_set = pd.read_csv('training_set_features.csv')
training_set.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [3]:

training_labels = pd.read_csv('training_set_labels.csv')
training_labels.head()

   respondent_id  xyz_vaccine  seasonal_vaccine
0              0            0                 0
1              1            0                 1
2              2            0                 0
3              3            0                 1
4              4            0                 0

In [4]:

test_set = pd.read_csv('test_set_features.csv')
test_set.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird

In [5]:
train = pd.merge(training_set,training_labels, on = 'respondent_id')
train.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,xyz_vaccine,seasonal_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN,0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe,0,1
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo,0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN,0,1
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb,0,0

In [6]:
train.shape

(26707, 38)

In [7]:
train.set_index('respondent_id', inplace=True)
test_set.set_index('respondent_id', inplace=True)

In [8]:
train.isnull().sum().sort_values(ascending=False)

employment_occupation          13470
employment_industry            13330
health_insurance               12274
income_poverty                  4423
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
rent_or_own                     2042
employment_status               1463
marital_status                  1408
education                       1407
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
opinion_seas_sick_from_vacc      537
opinion_seas_risk                514
opinion_seas_vacc_effective      462
opinion_xyz_sick_from_vacc       395
opinion_xyz_vacc_effective       391
opinion_xyz_risk                 388
household_adults                 249
household_children               249
behavioral_avoidance             208
behavioral_touch_face            128
xyz_knowledge                    116
xyz_concern                       92
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_antiviral_meds         71
behavioral_wash_hands             42
behavioral_face_mask              19
sex                                0
race                               0
age_group                          0
hhs_geo_region                     0
census_msa                         0
xyz_vaccine                        0
seasonal_vaccine                   0
dtype: int64

In [9]:
train.dtypes

xyz_concern                    float64
xyz_knowledge                  float64
behavioral_antiviral_meds      float64
behavioral_avoidance           float64
behavioral_face_mask           float64
behavioral_wash_hands          float64
behavioral_large_gatherings    float64
behavioral_outside_home        float64
behavioral_touch_face          float64
doctor_recc_xyz                float64
doctor_recc_seasonal           float64
chronic_med_condition          float64
child_under_6_months           float64
health_worker                  float64
health_insurance               float64
opinion_xyz_vacc_effective     float64
opinion_xyz_risk               float64
opinion_xyz_sick_from_vacc     float64
opinion_seas_vacc_effective    float64
opinion_seas_risk              float64
opinion_seas_sick_from_vacc    float64
age_group                       object
education                       object
race                            object
sex                             object
income_poverty                  object
marital_status                  object
rent_or_own                     object
employment_status               object
hhs_geo_region                  object
census_msa                      object
household_adults               float64
household_children             float64
employment_industry             object
employment_occupation           object
xyz_vaccine                      int64
seasonal_vaccine                 int64
dtype: object

In [10]:
train['age_group'].value_counts()

age_group
65+ Years        6843
55 - 64 Years    5563
45 - 54 Years    5238
18 - 34 Years    5215
35 - 44 Years    3848
Name: count, dtype: int64

In [11]:
train['age_group'] = train['age_group'].replace({'18 - 34 Years':0,
                                                 '35 - 44 Years':1,
                                                 '45 - 54 Years':2,
                                                 '55 - 64 Years':3,
                                                 '65+ Years':4})
test_set['age_group'] = test_set['age_group'].replace({'18 - 34 Years':0,
                                                 '35 - 44 Years':1,
                                                 '45 - 54 Years':2,
                                                 '55 - 64 Years':3,
                                                 '65+ Years':4})

In [12]:
train['education'].value_counts()

education
College Graduate    10097
Some College         7043
12 Years             5797
< 12 Years           2363
Name: count, dtype: int64

In [13]:
train['education'] = train['education'].replace({'< 12 Years':0,
                                                 '12 Years':1,
                                                 'Some College':2,
                                                 'College Graduate':3})
test_set['education'] = test_set['education'].replace({'< 12 Years':0,
                                                 '12 Years':1,
                                                 'Some College':2,
                                                 'College Graduate':3})

In [14]:
train['sex'].value_counts()

sex
Female    15858
Male      10849
Name: count, dtype: int64

In [15]:
train['sex'] = train['sex'].replace({'Female':0,
                                     'Male':1})
test_set['sex'] = test_set['sex'].replace({'Female':0,
                                     'Male':1})

In [16]:
train['marital_status'].value_counts()

marital_status
Married        13555
Not Married    11744
Name: count, dtype: int64

In [17]:
train['marital_status'] = train['marital_status'].replace({'Married':0,
                                     'Not Married':1})
test_set['marital_status'] = test_set['marital_status'].replace({'Married':0,
                                     'Not Married':1})

In [18]:
train['employment_status'].value_counts()

employment_status
Employed              13560
Not in Labor Force    10231
Unemployed             1453
Name: count, dtype: int64

In [19]:
train['employment_status'] = train['employment_status'].replace({'Unemployed':0,
                                                                 'Not in Labor Force':1,
                                                                 'Employed':2})
test_set['employment_status'] = test_set['employment_status'].replace({'Unemployed':0,
                                                                 'Not in Labor Force':1,
                                                                 'Employed':2})

In [20]:
train['household_children'].value_counts()

household_children
0.0    18672
1.0     3175
2.0     2864
3.0     1747
Name: count, dtype: int64

In [21]:
train.drop(['race','income_poverty', 'rent_or_own', 'hhs_geo_region','census_msa','employment_industry','employment_occupation'],axis=1,inplace=True)
train.head()
test_set.drop(['race','income_poverty', 'rent_or_own', 'hhs_geo_region','census_msa','employment_industry','employment_occupation'],axis=1,inplace=True)

In [22]:
train.isnull().sum().sort_values(ascending=False)

health_insurance               12274
doctor_recc_seasonal            2160
doctor_recc_xyz                 2160
employment_status               1463
marital_status                  1408
education                       1407
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
opinion_seas_sick_from_vacc      537
opinion_seas_risk                514
opinion_seas_vacc_effective      462
opinion_xyz_sick_from_vacc       395
opinion_xyz_vacc_effective       391
opinion_xyz_risk                 388
household_adults                 249
household_children               249
behavioral_avoidance             208
behavioral_touch_face            128
xyz_knowledge                    116
xyz_concern                       92
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_antiviral_meds         71
behavioral_wash_hands             42
behavioral_face_mask              19
age_group                          0
sex                                0
xyz_vaccine                        0
seasonal_vaccine                   0
dtype: int64

In [23]:
freq_cols = ['health_insurance', 'doctor_recc_seasonal', 'doctor_recc_xyz', 'employment_status', 'marital_status', 'education', 'chronic_med_condition', 'child_under_6_months', 'health_worker','opinion_seas_sick_from_vacc', 'opinion_xyz_risk', 'behavioral_face_mask',
              'opinion_seas_risk', 'opinion_seas_vacc_effective', 'opinion_xyz_sick_from_vacc', 'opinion_xyz_vacc_effective', 'opinion_xyz_vacc_effective', 'household_adults', 'household_children', 'behavioral_avoidance', 'behavioral_touch_face','xyz_knowledge', 'xyz_concern', 'behavioral_large_gatherings', 'behavioral_outside_home', 'behavioral_antiviral_meds', 'behavioral_wash_hands']

In [24]:
from sklearn.impute import SimpleImputer
for col in freq_cols:
    freq_imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent') 
    temp = freq_imp.fit_transform(train[[col]]).ravel()
    train[col] = temp

In [25]:
train.isnull().sum().sort_values(ascending=False)

xyz_concern                    0
xyz_knowledge                  0
xyz_vaccine                    0
household_children             0
household_adults               0
employment_status              0
marital_status                 0
sex                            0
education                      0
age_group                      0
opinion_seas_sick_from_vacc    0
opinion_seas_risk              0
opinion_seas_vacc_effective    0
opinion_xyz_sick_from_vacc     0
opinion_xyz_risk               0
opinion_xyz_vacc_effective     0
health_insurance               0
health_worker                  0
child_under_6_months           0
chronic_med_condition          0
doctor_recc_seasonal           0
doctor_recc_xyz                0
behavioral_touch_face          0
behavioral_outside_home        0
behavioral_large_gatherings    0
behavioral_wash_hands          0
behavioral_face_mask           0
behavioral_avoidance           0
behavioral_antiviral_meds      0
seasonal_vaccine               0
dtype: int64

In [26]:
from sklearn.impute import SimpleImputer
for col in freq_cols:
    freq_imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent') 
    temp = freq_imp.fit_transform(test_set[[col]]).ravel()
    test_set[col] = temp

In [27]:
train.shape

(26707, 30)

In [28]:
x = train.iloc[:, 0:28].copy()
y = train['xyz_vaccine']

In [29]:
from sklearn.feature_selection import SelectKBest, f_classif

selector = SelectKBest(score_func=f_classif, k=25)    

x_selected = selector.fit_transform(x, y)

selected_indices = selector.get_support(indices=True)

selected_features_xyz = x.columns[selected_indices]

print('Selected features')
for i, feature in enumerate(selected_features_xyz):
    print(f"{i+1}, {feature}")

Selected features
1, xyz_concern
2, xyz_knowledge
3, behavioral_antiviral_meds
4, behavioral_avoidance
5, behavioral_face_mask
6, behavioral_wash_hands
7, behavioral_large_gatherings
8, behavioral_outside_home
9, behavioral_touch_face
10, doctor_recc_xyz
11, doctor_recc_seasonal
12, chronic_med_condition
13, child_under_6_months
14, health_worker
15, health_insurance
16, opinion_xyz_vacc_effective
17, opinion_xyz_risk
18, opinion_xyz_sick_from_vacc
19, opinion_seas_vacc_effective
20, opinion_seas_risk
21, age_group
22, education
23, sex
24, marital_status
25, employment_status

In [30]:
x = train.iloc[:, 0:28].copy()
y = train['seasonal_vaccine']

In [31]:
from sklearn.feature_selection import SelectKBest, f_classif

selector = SelectKBest(score_func=f_classif, k=25)    

x_selected = selector.fit_transform(x, y)

selected_indices = selector.get_support(indices=True)

selected_features_seasonal = x.columns[selected_indices]

print('Selected features')
for i, feature in enumerate(selected_features_seasonal):
    print(f"{i+1}, {feature}")

Selected features
1, xyz_concern
2, xyz_knowledge
3, behavioral_avoidance
4, behavioral_face_mask
5, behavioral_wash_hands
6, behavioral_large_gatherings
7, behavioral_outside_home
8, behavioral_touch_face
9, doctor_recc_xyz
10, doctor_recc_seasonal
11, chronic_med_condition
12, health_worker
13, health_insurance
14, opinion_xyz_vacc_effective
15, opinion_xyz_risk
16, opinion_seas_vacc_effective
17, opinion_seas_risk
18, opinion_seas_sick_from_vacc
19, age_group
20, education
21, sex
22, marital_status
23, employment_status
24, household_adults
25, household_children

In [32]:
final_features = list(selected_features_xyz) + list(selected_features_seasonal)
final_features = set(final_features)
final_features

{'age_group',
 'behavioral_antiviral_meds',
 'behavioral_avoidance',
 'behavioral_face_mask',
 'behavioral_large_gatherings',
 'behavioral_outside_home',
 'behavioral_touch_face',
 'behavioral_wash_hands',
 'child_under_6_months',
 'chronic_med_condition',
 'doctor_recc_seasonal',
 'doctor_recc_xyz',
 'education',
 'employment_status',
 'health_insurance',
 'health_worker',
 'household_adults',
 'household_children',
 'marital_status',
 'opinion_seas_risk',
 'opinion_seas_sick_from_vacc',
 'opinion_seas_vacc_effective',
 'opinion_xyz_risk',
 'opinion_xyz_sick_from_vacc',
 'opinion_xyz_vacc_effective',
 'sex',
 'xyz_concern',
 'xyz_knowledge'}

In [33]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

x = train.iloc[:,0:28].copy()
y = train.iloc[:,28].copy()

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=3, shuffle=True, stratify=y)    

scaler = MinMaxScaler() 
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [44]:
clf = SVC(kernel='rbf', random_state=3000, C=0.3, probability=True)

clf.fit(x_train, y_train)

y_pred = clf.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"\nAccuracy: {accuracy:.2f}")

Accuracy: 0.83

In [45]:
pred = clf.predict(x_test)
y_pred = clf.predict_proba(x_test)
y_pred = np.array(y_pred)
y_pred_both = pd.DataFrame({"h1n1_vaccine":y_pred[:, 0], "seasonal_vaccine":y_pred[:, 1]}, index=y_test.index)
y_pred

array([[0.8673846 , 0.1326154 ],
       [0.87446995, 0.12553005],
       [0.86613889, 0.13386111],
       ...,
       [0.87788365, 0.12211635],
       [0.88102326, 0.11897674],
       [0.78564572, 0.21435428]])

In [46]:
import sklearn.metrics as metrics

In [47]:
metrics.roc_auc_score(y_test, y_pred[:,0])

0.18946033830845033

In [48]:
metrics.roc_auc_score(y_test, y_pred[:, 1])

0.8105396616915498

In [49]:
test_set = scaler.transform(test_set)

In [50]:
test_prob = clf.predict_proba(test_set)
test_prob

array([[0.86162592, 0.13837408],
       [0.85255536, 0.14744464],
       [0.86886674, 0.13113326],
       ...,
       [0.85823161, 0.14176839],
       [0.87586478, 0.12413522],
       [0.93243503, 0.06756497]])

In [51]:
submission_df = pd.read_csv("submission_format.csv", index_col="respondent_id")
submission_df.head()

               h1n1_vaccine  seasonal_vaccine
respondent_id
26707                   0.5               0.7
26708                   0.5               0.7
26709                   0.5               0.7
26710                   0.5               0.7
26711                   0.5               0.7

In [52]:
submission_df["h1n1_vaccine"] = test_prob[:, 0]
submission_df["seasonal_vaccine"] = test_prob[:, 1]

In [54]:
submission_df.to_csv('final_submission.csv', index=True)
submission_df.head()
submission_df

               h1n1_vaccine  seasonal_vaccine
respondent_id
26707              0.861626          0.138374
26708              0.852555          0.147445
26709              0.868867          0.131133
26710              0.904892          0.095108
26711              0.897474          0.102526
...                     ...               ...
53410              0.972526          0.027474
53411              0.912414          0.087586
53412              0.858232          0.141768
53413              0.875865          0.124135
53414              0.932435          0.067565

[26708 rows x 2 columns]